Dla przedstawionej poniżej oferty pracy a w szególności: opisu projektu, zakresu zadań, wymagań i innych zawartych informacji
wygeneruj dla mnie tekst będący nie formalnym cover letter, w celu przedstawienia mnie jako idealnego kandydata
na to stanowisko.
W szczególności skup się na wymaganiach zawartych w ofercie pracy i staraj się podkreślić jak moja osoba na podstawie mojego CV spełnia te wymagania.
Unikaj szczegółowego wymieniania nazw firm w moim CV - te odwołania mogą być za bardzo w przesłości.
Nie dodawaj nagłówka w którym miałbym wpisać swoje imię, nazwisko itd
Opis oferty:
```
{{job_description}}
```